$button_width = 85px

.fade-enter-active, .fade-leave-active {
  transition: opacity 145ms cubic-bezier(0.0, 0.0, 0.2, 1);
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
	
.fade-slide-left-enter-active, .fade-slide-left-leave-active {
  transition: all 145ms cubic-bezier(0.0, 0.0, 0.2, 1);
}
.fade-slide-left-enter, .fade-slide-left-leave-active {
  opacity: 0;
  transform: translateX(-100px);
}
  


.fade-slide-up-enter-active, .fade-slide-up-leave-active {
  transition: all 145ms cubic-bezier(0.0, 0.0, 0.2, 1);
}
.fade-slide-up-enter{
  opacity: 0;
  transform: translateY(100px);
}

.fade-slide-up-leave{
	transform: translateY(-100px);	
}
.fade-slide-up-leave-to{
	opacity: 0
}

  

.overflowhidden {
	overflow: hidden !important;
}

.cursordefault{
	cursor: default !important;
}

.allevents{
	pointer-events: all !important;
}

.noselect{
	user-select: none !important;
}

.select{
	user-select: all !important;
}